.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 36px;
  padding: 30px
}

.thumbnail-container{
  position: relative;
}

.video-thumbnail{
  width: 100%;
}

.video-time{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #000000;
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 14px;
}

.channel-img{
  position: relative;
}

.channel-img img{
  object-fit: cover;
  object-position: top;
  width: 36px;
  border-radius: 50%;
}

.tooltip-channel{
  background-color: #ffffff;
  padding: 10px;
  position: absolute;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  z-index: 1;
}

.channel-img .tooltip-channel{
  position: absolute;
  top: 50px;
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 16px;
}

.channel-img .tooltip-channel img{
  object-fit: cover;
  object-position: top;
  width: 50px;
  border-radius: 50%;
}

.channel-img .tooltip-channel .ch-info{
  white-space: nowrap;
  display: grid;
  row-gap: 8px;
}

.channel-img .tooltip-channel .ch-info p{
  margin: 0;
}

.channel-tooltip-name{
  font-weight: bold;
}

.video-tooltip-stats{
  color: gray;
  font-size: 14px;
}

.channel-img:hover .tooltip-channel{
  opacity: 1;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 35px 1fr;
  margin-top: 10px;
  column-gap: 15px;
}

.video-info p{
  margin-top: 0;
  margin-bottom: 0;
}

.video-info > .video-title{
  font-weight: bold;
  margin-bottom: 10px;
}

.video-info > .channel-name, .video-info > .video-stats{
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}


